.wrap-all-about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(39, 39, 39), rgb(0, 0, 0));
  perspective: 500;
}

.wrap-all-side {
  position: relative;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90%;
  box-sizing: border-box;
}

.about-text,
.about-left,
.about-right {
  display: flex;
  height: 95%;
  position: absolute;
  padding: 2%;
}

.about-text {
  flex-direction: column;
  width: 50%;
  color: #42717C;
  font-size: 20px;
  text-align: justify;
  /* transform-style: preserve-3d; */
  transform: rotateX(0deg) translateY(10%) translateX(50%);
  /* transform: rotateX(-105deg) translateY(150%) translateX(50%); */
  animation: text 4s linear;
}

@keyframes text {
  0% {
    transform: rotateX(-105deg) translateY(200%) translateX(50%);
  }

  40% {
    transform: rotateX(-75deg) translateY(100%) translateX(50%);
  }

  60% {
    transform: rotateX(-50deg) translateY(100%) translateX(50%);
  }
}

.about-left {
  width: 50%;
  left: -30%;
  background-image: url(../images/about-left00.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 2;
  animation: go-left 3s ease-in-out;
}

.about-right {
  width: 50%;
  right: -30%;
  background-size: contain;
  background-image: url(../images/about-right00.png);
  background-repeat: no-repeat;
  animation: go-right 3s ease-in-out;
}

@keyframes go-left {
  0% {
    left: 0;
  }

  60% {
    left: 0;
  }
}

@keyframes go-right {
  0% {
    right: 0;
  }

  60% {
    right: 0;
  }
}