.wrap-all-about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(39, 39, 39), rgb(0, 0, 0));
  perspective: 100;
}

.wrap-all-side {
  position: relative;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90%;
  box-sizing: border-box;
}

.about-text,
.about-left,
.about-right {
  display: flex;
  height: 95%;
  position: absolute;
  padding: 2%;
}

.about-text {
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: rgb(97, 166, 182);
  font-size: 20px;
  text-align: center;
  transform: rotateX(0deg) translateY(0) translateX(50%) scale(1);
  animation: text 3s linear;
}

@keyframes text {
  0% {
    transform: rotateX(-130deg) translateY(-25%) translateX(50%) scale(.5);
  }

  30% {
    transform: rotateX(-130deg) translateY(-25%) translateX(50%) scale(.5);
  }

  /* 
  60% {
    transform: rotateX(-130deg) translateY(15%) translateX(50%) scale(.5);
  } */

  80% {
    transform: rotateX(-75deg) translateY(-10%) translateX(50%) scale(.7);
  }
}

.about-text.active {
  color: white;
}

.about-left {
  width: 50%;
  left: -27%;
  background-image: url(../images/about-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 2;
  animation: go-left 3s ease-in-out, image-left 20s linear infinite;
}

@keyframes image-left {

  10% {
    opacity: .7;
  }

  20% {
    background-image: url(../images/about-left1.png);
    opacity: 1;
  }

  30% {
    opacity: .7;
  }

  40% {
    background-image: url(../images/about-left2.png);
    opacity: 1;
  }

  50% {
    opacity: .7;
  }

  60% {
    background-image: url(../images/about-left3.png);
    opacity: 1;
  }

  70% {
    opacity: .7;
  }

  80% {
    background-image: url(../images/about-left4.png);
    opacity: 1;
  }

  90% {
    opacity: 85;

  }
}

.about-right {
  width: 50%;
  right: -27%;
  background-size: contain;
  background-image: url(../images/about-right.png);
  background-position: left;
  background-repeat: no-repeat;
  animation: go-right 3s ease-in-out, image-right 15s linear infinite;
}


@keyframes image-right {
  20% {
    background-image: url(../images/about-right4.png);
  }

  30% {
    opacity: .7;
  }

  40% {
    background-image: url(../images/about-right3.png);
  }

  50% {
    opacity: .7;
  }

  60% {
    background-image: url(../images/about-right2.png);
  }

  70% {
    opacity: .7;
  }

  80% {
    background-image: url(../images/about-right1.png);
  }

  90% {
    opacity: .7;
  }
}

@keyframes go-left {
  0% {
    left: 0;
  }

  40% {
    left: 0;
  }
}

@keyframes go-right {
  0% {
    right: 0;
  }

  40% {
    right: 0;
  }
}