.wrap-all-about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0),
    rgb(39, 39, 39),
    rgb(0, 0, 0));
}

.wrap-all-side {
  position: relative;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90%;
  perspective: 100px;
}

.about-text,
.about-left,
.about-right {
  display: flex;
  height: 95%;
  position: absolute;
  padding: 2%;
}

.about-text {
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: justify;
  transform: rotateX(0deg) translateY(0) translateX(50%);
  animation: text 2.6s linear;
}

.about-text p {
  font-size: 20px;
  background: linear-gradient(180deg,
    rgb(97, 166, 182),
    rgb(194, 207, 226),
    rgb(97, 166, 182));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes text {
  0% {
    transform: rotateX(-130deg) translateY(-20%) translateX(50%);
  }

  40% {
    transform: rotateX(-130deg) translateY(-20%) translateX(50%);
  }

  85% {
    transform: rotateX(-90deg) translateY(-10%) translateX(50%);
  }
}

.about-left,
.about-right {
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-left {
  left: -27%;
  background-image: url(../images/about-left.png);
  background-position: right;
  animation: go-left 2.5s ease-in-out, image-left 10s 3s linear infinite;
}

@keyframes image-left {
  20% {
    background-image: url(../images/about-left1.png);
  }

  40% {
    background-image: url(../images/about-left2.png);
  }

  60% {
    background-image: url(../images/about-left3.png);
  }

  80% {
    background-image: url(../images/about-left4.png);
  }
}

.about-right {
  right: -27%;
  background-image: url(../images/about-right.png);
  background-position: left;
  animation: go-right 2.5s ease-in-out, image-right 10s 3s linear infinite;
}

@keyframes image-right {
  20% {
    background-image: url(../images/about-right1.png);
  }

  40% {
    background-image: url(../images/about-right2.png);
  }

  60% {
    background-image: url(../images/about-right3.png);
  }

  80% {
    background-image: url(../images/about-right4.png);
  }
}

@keyframes go-left {
  0% {
    left: 0;
  }

  40% {
    left: 0;
  }
}

@keyframes go-right {
  0% {
    right: 0;
  }

  40% {
    right: 0;
  }
}