/* fonty:
font-family: 'K2D', sans-serif; 
font-family: 'Alegreya Sans SC', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0px;
}

.wrap-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "K2D", sans-serif;
  background-image: linear-gradient(#a34d48, rgb(211, 128, 102), #a34d48);
  /* background-color: #a34d48; */
}

.wrap-all main {
  display: flex;
  flex-grow: 1;
}