/* fonty:
font-family: 'K2D', sans-serif; 
font-family: 'Alegreya Sans SC', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'K2D', sans-serif;
  background-image: linear-gradient(#A34D48, rgb(211, 128, 102), #A34D48);
}

.wrap-all main {
  display: flex;
  flex-grow: 1;
}