.shadow-box {
  position: fixed;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  font-family: "Alegreya Sans SC", sans-serif;
  overflow: hidden;
}

.shadow-box .s-text {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  margin: -40px 0 0 0;
  font-size: 80px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(145, 61, 57);
  text-shadow: 0px -40px 18px black;
}

.shadow-box .s-box,
.shadow-box .s-wall {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  height: 40%;
  border-radius: 10px;
}

.shadow-box .s-box {
  box-shadow: 0px -40px 39px #000;
}

.shadow-box .s-wall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow-box .s-wall p {
  font-size: 22px;
  font-weight: bold;
  color: #a34d48;
  text-shadow: 0 0 1px black;
}

.shadow-box .s-wall span,
.shadow-box .s-wall span a {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(108, 121, 124);
  font-family: "K2D", sans-serif;
  text-shadow: 0 0 1px black;
  text-decoration: none;
}

.shadow-box .s-wall p a:hover {
  text-shadow: 0 0 1px black, 5px 5px 4px black;
}

.shadow-box .s-spot {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  pointer-events: none;
  background-image: radial-gradient(circle closest-side, transparent 0, black);
}