.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
}

.menu,
.navigation ul,
.navigation li {
  display: flex;
}

.nav-home,
.navigation {
  margin: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
}


.navigation ul {
  list-style: none;
}

.nav-home a {
  font-size: 29px;
}

.nav-home a,
.navigation a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
  letter-spacing: 1.5px;
  transition: .25s;
  outline: none;
}

.navigation a {
  font-size: 21px;
}

.navigation a span {
  display: block;
  margin: 0 auto;
  width: 0%;
  border-bottom: 1px solid white;
  transition: .25s;
}

.navigation a:hover span {
  width: 100%;
  border-bottom: 1px solid white;
}

a.active-about {
  color: rgb(97, 166, 182);
}

a.active-contact {
  color: rgb(134, 145, 148);
}

a.active-projects {
  color: #E69076;
}

a.active-about span,
a.active-contact span,
a.active-projects span {
  width: 0%;
  border-bottom: 1px solid white;
}

a.active-about:hover span,
a.active-contact:hover span,
a.active-projects:hover span {
  width: 0%;
  border-bottom: 1px solid white;
}