.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: -5;
  overflow: hidden;
  opacity: 0;
  animation: visible 1.1s linear;
}

@keyframes visible {
  0% {
    opacity: 1;
    z-index: 999;
  }

  100% {
    opacity: 1;
    z-index: 999;
  }
}

.black-top,
.black-bottom {
  width: 102%;
  height: 0vh;
  background-color: #000;
  animation: crt-black 1.2s ease-out;
}

.middle {
  background-color: transparent;
  height: 100vh;
  width: 102%;
  animation: crt-middle 1.2s ease-out;
}

@keyframes crt-middle {
  0% {
    height: 0vh;
  }

  30% {
    height: 0vh;
  }

  70% {
    height: 100vh;
  }
}

@keyframes crt-black {
  0% {
    height: 50vh;
  }

  30% {
    height: 50vh;
  }

  70% {
    height: 0vh;
  }
}