.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons a {
  display: block;
  width: 40%;
  box-shadow: 0 0 0 1px white;
  transition: .3s;
}

.buttons button {
  padding: 5px 10px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 24px;
  letter-spacing: .7px;
  border: none;
  color: white;
  text-shadow: 0 0 7px black;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.buttons a:hover {
  color: #E69076;
  box-shadow: 0 0 0 2px #E69076;
}

.buttons a:hover button {
  color: #E69076;
}