.wrap-all-projects,
.wrap-projects {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.wrap-all-projects {
  width: 80%;
  margin: 100px auto 0;
}

.wrap-projects {
  position: relative;
  bottom: 0;
  padding: 5px;
  flex-wrap: wrap;
  flex-basis: 100%;
  perspective: 800;
  animation: up 1.2s ease-out;
}

@keyframes up {
  0% {
    bottom: -150vh;
  }

  50% {
    bottom: -150vh;
  }
}


.project-content,
.front,
.back {
  width: 24vw;
  height: 21vw;
}

.project {
  perspective: 700;
  /* box-shadow: 0 0 0 2px white; */
  cursor: pointer;
  /* overflow: hidden; */
  /* animation: rot 1.5s cubic-bezier(0.9, 1, 0.7, 2); */
  animation: rot 1.5s ease-in-out;
}



/* .project:hover .project-content {
  transform: rotateY(180deg);
} */

.project-content.rotate {
  transform: rotateY(180deg);
}

/* .project:hover .back {
  transform: rotateY(180deg);
} */

/* .back.rotate {
  transform: rotateY(180deg);
} */

/* .project:hover .front {
  z-index: 0;
} */

.front.rotate {
  z-index: 0;
}

@keyframes rot {
  0% {
    transform: rotateX(-20deg);
  }

  70% {
    transform: rotateX(-20deg);
  }
}

.project-content {
  /* background-color: #000; */
  box-shadow: 0 0 0 2px white;
  position: relative;
  /* opacity: .7; */
  transition: .3s;
}


.front,
.back {
  position: absolute;
  background-color: black;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.front {
  z-index: 9;
  transition: .3s
}

.front:hover {}

.back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  background-color: #221D27;
  padding: 20px;
  text-align: center;
  cursor: auto;
  /* transform: rotateY(180deg); */
  transition: .3s;
  z-index: 1;
}

.back:hover {
  background-color: #263547;
}

.front.one {
  background-image: url(../images/beauty.png);
}

.front.two {
  background-image: url(../images/memory.png);
}

.front.three {
  background-image: url(../images/pogoda.png);
}

.front.four {
  background-image: url(../images/slotmachine.png);
}

.front.five {
  background-image: url(../images/to-do.png);
}

.front.six {
  background-image: url(../images/gasstation.png);
}