.wrap-all-projects,
.wrap-projects {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.wrap-all-projects {
  width: 100%;
  padding: 10% 10% 5%;
  perspective: 800px;
}

.wrap-projects {
  position: relative;
  bottom: 0;
  padding: 5px;
  flex-wrap: wrap;
  flex-basis: 100%;
  perspective: 750px;
  animation: up 1.2s ease-out;
  transform-style: preserve-3d;
}

@keyframes up {
  0% {
    bottom: -150vh;
  }

  50% {
    bottom: -150vh;
  }
}