.chose-tech {
  perspective: 800;
  display: flex;
  justify-content: space-around;
  margin: 2% auto;
  flex-basis: 10vh;
  width: 90%;
}

.chose-tech button {
  padding: 9px;
  width: 30%;
  height: 80%;
  text-align: center;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 16px;
  letter-spacing: .6px;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  transition: box-shadow .3s;
  animation: showBtn 1.5s linear;
  transform-style: preserve-3d;
}

.chose-tech button span {
  font-size: 12px;
}

@keyframes showBtn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.chose-tech button.now {
  background-color: rgba(255, 255, 255, 0.082);
  box-shadow: 10px 10px 20px 3px black;
}

.chose-tech button.now:hover {
  box-shadow: 10px -10px 20px 3px black;
}

.chose-tech button.future {
  background-color: rgba(0, 0, 0, 0.726);
  box-shadow: -10px 10px 20px 3px black;
}

.chose-tech button.future:hover {
  box-shadow: -10px -10px 20px 3px black;
}