@media (max-width:1460px) and (orientation:landscape) {
  .about-text p {
    font-size: 25px;
  }
}

@media (max-width:1366px) and (orientation:landscape) {


  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 80vh;
  }

  .about-text p {
    font-size: 16px;
  }
}

@media (max-width:1280px) and (orientation:landscape) {

  .about-text p {
    font-size: 18px;
  }
}

@media (max-width:1024px) and (orientation:landscape) {

  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 75vh;
  }

  .about-text p {
    font-size: 19px;
  }
}

@media (max-width:850px) and (orientation:landscape) {

  .about-text {
    width: 65%;
    transform: rotateX(0deg) translateY(0) !important;
  }

  @keyframes text {
    0% {
      transform: rotateX(-130deg) translateY(-20%);
    }

    40% {
      transform: rotateX(-130deg) translateY(-20%);
    }

    85% {
      transform: rotateX(-90deg) translateY(-10%);
    }
  }

  .about-text p {
    font-size: 13px;
  }

  .about-left,
  .under-left {
    left: -34%;
  }

  .about-right,
  .under-right {
    right: -34%;
  }
}

@media (max-width:650px) and (orientation:landscape) {

  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 70vh;
  }

  .about-text p {
    font-size: 14px;
  }
}

@media (max-width:570px) and (orientation:landscape) {

  .about-text p {
    font-size: 12px;
  }
}

@media (max-width:1024px) and (orientation:portrait) {

  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 6vh;
  }

  .about-text p {
    font-size: 24px;
  }
}

@media (max-width:800px) and (orientation:portrait) {

  .about-text p {
    font-size: 20px;
  }

  .about-text {
    width: 65%;
    transform: rotateX(0deg) translateY(0) !important;
  }

  @keyframes text {
    0% {
      transform: rotateX(-130deg) translateY(-20%);
    }

    40% {
      transform: rotateX(-130deg) translateY(-20%);
    }

    85% {
      transform: rotateX(-90deg) translateY(-10%);
    }
  }

  .about-left,
  .under-left {
    left: -37%;
  }

  .about-right,
  .under-right {
    right: -37%;
  }
}

@media (max-width:625px) and (orientation:portrait) {
  .about-text p {
    font-size: 15px;
  }
}

@media (max-width:420px) and (orientation:portrait) {
  .about-text p {
    font-size: 16px;
  }

  .about-left,
  .under-left {
    left: -51%;
  }

  .about-right,
  .under-right {
    right: -51%;
  }

  .about-text {
    width: 85%;
    transform: rotateX(0deg) translateY(0) !important;
  }

  @keyframes text {
    0% {
      transform: rotateX(-130deg) translateY(-20%);
    }

    40% {
      transform: rotateX(-130deg) translateY(-20%);
    }

    85% {
      transform: rotateX(-90deg) translateY(-10%);
    }
  }
}

@media (max-width:375px) and (orientation:portrait) {
  .about-text p {
    font-size: 15px;
  }
}

@media (max-width:330px) and (orientation:portrait) {
  .about-text p {
    font-size: 14px;
  }
}