@media (max-width:1460px) and (orientation:landscape) {
  .about-text p {
    font-size: 19px;
  }

  p.text-zero {
    font-size: 38px;
  }

  p.text-four {
    font-size: 21px;
  }
}

@media (max-width:1366px) and (orientation:landscape) {
  .wrap-all-side {
    perspective: 100px;
  }

  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 80vh;
  }

  .about-text p {
    font-size: 18px;
  }

  p.text-zero {
    font-size: 36px;
  }

  p.text-four {
    font-size: 20px;
  }
}

@media (max-width:1280px) and (orientation:landscape) {

  .about-text p {
    font-size: 16px;
  }

  p.text-zero {
    font-size: 32px;
  }

  p.text-four {
    font-size: 18px;
  }
}

@media (max-width:1024px) and (orientation:landscape) {

  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 75vh;
  }

  .about-text p {
    font-size: 18px;
  }

  p.text-zero {
    font-size: 28px;
  }

  p.text-four {
    font-size: 20px;
  }

  p.text-seven a {
    font-size: 24px;
  }
}

@media (max-width:850px) and (orientation:landscape) {

  .about-text {
    width: 62%;
    margin: 15vh auto;
    transform: rotateX(0deg) translateY(0) !important;
  }

  .about-text p {
    font-size: 15px;
  }

  p.text-zero {
    font-size: 26px;
  }

  p.text-one {
    padding-bottom: 20px;
  }

  p.text-four {
    font-size: 17px;
  }

  p.text-seven a {
    font-size: 20px;
  }

  @keyframes text {
    0% {
      margin: -40vh auto;
      transform: rotateX(-140deg) translateY(-15%);
    }

    40% {
      margin: -40vh auto;
      transform: rotateX(-140deg) translateY(-15%);
    }

    85% {
      margin: -40vh auto;
      transform: rotateX(-100deg) translateY(-3%);
    }
  }

  .about-left,
  .under-left {
    left: -34%;
  }

  .about-right,
  .under-right {
    right: -34%;
  }
}

@media (max-width:650px) and (orientation:landscape) {

  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 70vh;
  }

  .about-text p {
    font-size: 14px;
  }

  p.text-zero {
    font-size: 25px;
  }

  p.text-one {
    padding-bottom: 0px;
  }

  p.text-four {
    font-size: 16px;
  }

  p.text-seven a {
    font-size: 20px;
  }

  @keyframes text {
    0% {
      margin: -50vh auto;
      transform: rotateX(-140deg) translateY(-15%);
    }

    40% {
      margin: -50vh auto;
      transform: rotateX(-140deg) translateY(-15%);
    }

    85% {
      margin: -50vh auto;
      transform: rotateX(-90deg) translateY(-5%);
    }
  }
}

@media (max-width:570px) and (orientation:landscape) {

  .about-text p {
    font-size: 12px;
  }

  p.text-zero {
    font-size: 18px;
  }

  p.text-four {
    font-size: 14px;
  }

  p.text-seven a {
    font-size: 16px;
  }
}

@media (max-width:1024px) and (orientation:portrait) {

  .about-left,
  .under-left,
  .about-right,
  .under-right {
    height: 50vh;
    top: 25vh;
  }

  .about-text {
    margin: 5vh auto 0;
  }

  .about-text p {
    font-size: 19px;
  }

  p.text-zero {
    font-size: 32px;
  }

  p.text-four {
    font-size: 21px;
  }

  p.text-seven a {
    font-size: 24px;
  }
}

@media (max-width:800px) and (orientation:portrait) {

  .about-text {
    width: 65%;
    transform: rotateX(0deg) translateY(0) !important;
    margin: 10vh auto;
  }

  .about-text p {
    font-size: 18px;
  }

  p.text-zero {
    font-size: 30px;
  }

  p.text-one {
    padding-bottom: 10px;
  }

  p.text-four {
    font-size: 20px;
  }

  p.text-seven a {
    font-size: 23px;
  }

  .about-left,
  .under-left {
    left: -37%;
  }

  .about-right,
  .under-right {
    right: -37%;
  }
}

@media (max-width:625px) and (orientation:portrait) {
  .about-text p {
    font-size: 15px;
  }

  p.text-zero {
    font-size: 26px;
  }

  p.text-four {
    font-size: 17px;
  }

  p.text-seven a {
    font-size: 20px;
  }
}

@media (max-width:420px) and (orientation:portrait) {
  .about-text p {
    font-size: 18px;
  }

  p.text-zero {
    font-size: 30px;
  }

  p.text-one {
    padding-bottom: 10px;
  }

  p.text-four {
    font-size: 20px;
  }

  p.text-seven a {
    font-size: 23px;
  }

  @keyframes text {
    0% {
      margin: -40vh auto;
      transform: rotateX(-130deg) translateY(-15%);
    }

    40% {
      margin: -40vh auto;
      transform: rotateX(-130deg) translateY(-15%);
    }

    85% {
      margin: -40vh auto;
      transform: rotateX(-90deg) translateY(-5%);
    }
  }

  .about-left,
  .under-left {
    left: -51%;
  }

  .about-right,
  .under-right {
    right: -51%;
  }

  .about-text {
    width: 85%;
    transform: rotateX(0deg) translateY(0) !important;
  }

}

@media (max-width:375px) and (orientation:portrait) {
  .about-text p {
    font-size: 16px;
  }

  p.text-zero {
    font-size: 26px;
  }

  p.text-one {
    padding-bottom: 0px;
  }

  p.text-four {
    font-size: 17px;
  }

  p.text-seven a {
    font-size: 20px;
  }
}

@media (max-width:330px) and (orientation:portrait) {
  .about-text p {
    font-size: 14px;
  }

  p.text-zero {
    font-size: 24px;
  }

  p.text-one {
    padding-bottom: 0px;
  }

  p.text-four {
    font-size: 16px;
  }

  p.text-seven a {
    font-size: 19px;
  }
}