@media (max-width:1366px) and (orientation:landscape) {
  .nav-home a {
    font-size: 24px;
  }

  .navigation a {
    font-size: 18px;
  }
}

@media (max-width:1024px) and (orientation:landscape) {
  .nav-home a {
    font-size: 26px;
  }

  .navigation a {
    font-size: 20px;
  }
}


@media (max-width:767px) {
  .menu {
    display: none;
  }
}

@media (min-width:768px) {
  .menu-media {
    display: none;
  }
}