@media (max-width:750px) and (orientation:landscape) {
  .media-menu ul {
    height: 60%;
    text-align: center;
  }
}

@media (max-width:319px) and (orientation:portrait) {
  .media-menu a {
    font-size: 29px;
  }

  @keyframes ab-on {
    0% {
      transform: rotateY(65deg);
    }

    50% {
      transform: rotateY(65deg);
    }
  }


  @keyframes pr-on {
    0% {
      transform: rotateY(-66deg);
    }

    54% {
      transform: rotateY(-66deg);
    }
  }


  @keyframes co-on {
    0% {
      transform: rotateY(67deg);
    }

    58% {
      transform: rotateY(67deg);
    }
  }

  a.a-ab.off {
    transform: rotateY(65deg);
  }

  a.a-pr.off {
    transform: rotateY(-66deg);
  }

  a.a-co.off {
    transform: rotateY(67deg);
  }

}

/* @media (max-width:359px) and (orientation:portrait) {
  .media-menu a {
    font-size: 27px;
  }

  @keyframes ab-on {
    0% {
      transform: rotateY(72deg);
    }

    50% {
      transform: rotateY(72deg);
    }
  }


  @keyframes pr-on {
    0% {
      transform: rotateY(-68deg);
    }

    54% {
      transform: rotateY(-68deg);
    }
  }


  @keyframes co-on {
    0% {
      transform: rotateY(69deg);
    }

    58% {
      transform: rotateY(69deg);
    }
  }

  a.a-ab.off {
    transform: rotateY(67deg);
  }

  a.a-pr.off {
    transform: rotateY(-68deg);
  }

  a.a-co.off {
    transform: rotateY(69deg);
  }

} */